<link rel="import" href="../../../components/cells-select/cells-select.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">

<dom-module id="operations-page">
  <template is="dom-bind">
    <style>
      cells-select {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      cells-molecule-input {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
        align: center;
      }
      .center {
        text-align: center;
      }
      cells-icon-message {
          border-radius: 5px;
          margin: 10px 20px 0px 20px;
          font-family: : var(--cells-fontDefault, sans-serif);
      }
    </style>
    <template is="dom-if" if="[[messageError]]">
      <cells-icon-message  icon="coronita:alert" type="warning" icon-label="" icon-size="26" message="[[messageError]]"></cells-icon-message>
    </template>
    <cells-select id="combo" value="{{label}}" options="{{options}}" label="Tipo de operación" right-icon="coronita:unfold" placeholder="Selecciona un tipo"></cells-select>
    <cells-molecule-input id="input-amount" value="{{amount}}" label="Importe" type="number"></cells-molecule-input>
    <cells-molecule-input id="input-description" value="{{description}}" label="Concepto" type="text"></cells-molecule-input>
    <div class="center">
      <cells-st-button class="secondary">
        <button on-click="_onButtonClick">Realizar Operación</button>
      </cells-st-button>
    </div>
 </template>

  <script>
    {
      class OperationsPage extends Polymer.Element {
        static get is() {
          return 'operations-page';
        }

        static get properties() {
          return {
            label: {
              type: String,
              notify: true
            },
            amount: {
              type: Number,
              notify: true
            },
            description: {
              type: String,
              notify: true
            },
            accountId: {
              type: String,
              notify: true
            },
            options: {
              type: Array,
              value: [{label: 'Ingreso', value: 'INGRESO'}, {label: 'Reintegro', value: 'REINTEGRO'}]
            },
            messageError: {
              type: String
            }
          };
        }

        onOperation(data) {
          console.log('onOperation,. data:');
          console.log(data);
          this.accountId = data;
          this.label = null;
          this.amount = null;
          this.description = null;
          this.messageError = null;
        }

        onOperationError(err) {
          console.log('onOperationError');
          console.log(err);
          this.messageError = err.mensaje;
        }

        _onButtonClick(e) {
          console.log('_onButtonClick en operations-page');
          var movement = {
            productId: this.accountId,
            type: this.label,
            amount: this.amount,
            description: this.description,
            currency: 'EUR'
          };
          this.dispatchEvent(new CustomEvent('operation-request', {
            detail: movement
          }));
        }

      }
      customElements.define(OperationsPage.is, OperationsPage);
    }
  </script>
</dom-module>
