<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="dashboard-dm">

  <template>
    <brum-global-variable key="userToken" value="{{userToken}}"></brum-global-variable>
    <brum-global-variable key="idUser" value="{{idUser}}"></brum-global-variable>

    <cells-generic-dp
      id="dashboardDP"
      host="http://localhost:3000"
      path="charrobank/v1/accounts"
      method="GET"
      on-request-success="_onRequestOk"
      on-request-error="_onRequestError">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class DashboardDM extends Polymer.Element {
        static get is() {
          return 'dashboard-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            userToken: {
              type: String,
              notify: true
            },
            idUser: {
              type: String,
              notify: true
            }
          };
        }

        _onRequestOk(evt) {
          console.log('listado cuentas usuario recuperadas- evt.detail');
          console.log(evt);
          console.log(evt.detail);
          this.dispatchEvent(new CustomEvent('accounts-request-ok', evt));
        }

        _onRequestError(err) {
          console.log('Error request dashboard');
          console.log(err);
          this.dispatchEvent(new CustomEvent('accounts-request-error', err));
        }

        doRequest(path, type = 'accounts-request-start') {
          this.$.dashboardDP.headers = {'x-access-tokensec': this.userToken};
          this.$.dashboardDP.host = window.AppConfig.apibackend;
          this.$.dashboardDP.method = 'GET';
          this.$.dashboardDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }

        newAccountRequest(path, type = 'accounts-request-start') {
          this.$.dashboardDP.headers = {'x-access-tokensec': this.userToken};
          this.$.dashboardDP.host = window.AppConfig.backend;
          this.$.dashboardDP.method = 'POST';
          this.$.dashboardDP.body = {};
          this.$.dashboardDP.generateRequest();
          this.dispatchEvent(new Event(type));
        }
      }

      // Register the custom element with the browser
      customElements.define(DashboardDM.is, DashboardDM);
    }
  </script>
</dom-module>
