<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/cells-icon-message/cells-icon-message.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="dashboard-page">
  <template is="dom-bind" id="accounts">
    <style>
    .center {
      padding:10px;
      font-weight: 500;
      font-size: var(--cells-st-button-subtext-size, 0.6875rem);
      @apply --cells-st-button-subtext;
    }
    .positionRight {
      text-align: right;
    }
    cells-icon-message {
        border-radius: 5px;
        margin: 20px 20px 0px 20px;
        font-family: : var(--cells-fontDefault, sans-serif);
    }
    </style>

    <template is="dom-if" if="[[messageError]]">
      <cells-icon-message  icon="coronita:alert" type="warning" icon-label="" icon-size="26" message="[[messageError]]"></cells-icon-message>
    </template>

    <template is="dom-if" if="[[emptyMsg]]">
        <cells-icon-message  icon="coronita:info" type="info" icon-label="" icon-size="26" message="[[emptyMsg]]"></cells-icon-message>
    </template>

    <div class="nav nav-right positionRight">
      <cells-st-button class="content-centered size-l primary center">
        <button id="newAccountBtn" on-click="_onButtonClick" data-event="operations-button">Alta nueva cuenta</button>
      </cells-st-button>
    </div>
    <template is="dom-if" if="[[!emptyMsg]]">
      <cells-product-item-list id="accountslist" items="[[accounts]]" balance="[[balance]]"
      loading  header="CUENTAS"></cells-product-item-list>
    </template>

    <cells-modal-alert id="dialogAccountOK" type="success" toast content="Nueva cuenta creada correctamente">
  </template>

  <script>
    {
      class DashboardPage extends Polymer.Element {
        static get is() {
          return 'dashboard-page';
        }

        static get properties() {
          return {
            accounts: {
              type: Object,
              notify: true
            },
            balance: {
              type: Object,
              notify: true
            },
            emptyMsg: {
              type: String
            },
            messageError: {
              type: String
            }
          };
        }

        _onButtonClick(e) {
          console.log('_onButtonClick.- e');
          console.log(e);
          this.dispatchEvent(new Event('new-account-request'));
        }

        onRequestOk(data) {
          console.log('onRequestOk.- data');
          console.log(data);
          console.log(this.accounts);
          console.log(this.balance);
          var cuentas;
          var balanceTotal;
          if (data.length === undefined) {
            cuentas = this.accounts;
            balanceTotal = this.balance.amount;
          }
          this.accounts = [];
          this.balance = {};
          if (!data) {
            console.log('onRequestOk.- NO data');
            this.emptyMsg = 'No dispones de cuentas. Puedes darte de alta una';
          } else {
            this.emptyMsg = null;
            var totalBalance = 0;
            console.log('cuentas');
            console.log(cuentas);
            if (cuentas) {
              console.log('dentro cuentas.- cuentas.length:' + cuentas.length);
              this.accounts = cuentas;
              totalBalance = balanceTotal + Number(data.balance);
              var newAccount2 = {
                'description': {
                  'value': data.iban,
                  'masked': true
                },
                'id': data._id,
                'name': 'Cuenta ' + data.iban,
                'primaryAmount': {
                  'amount': data.balance,
                  'currency': data.currency,
                  'label': 'Disponible'
                },
                'scale': 0,
                'status': {
                  'id': 'ACTIVATED',
                  'description': 'ACTIVATED'
                }
              };
              console.log('newAccount2');
              console.log(newAccount2);
              this.accounts.push(newAccount2);
              this.$.dialogAccountOK.open();
            } else {
              for (var i = 0; i < data.length; i++) {
                totalBalance = totalBalance + Number(data[i].balance);
                console.log('totalBalance' + totalBalance);
                console.log(data[i]);
                var newAccount = {
                  'description': {
                    'value': data[i].iban,
                    'masked': true
                  },
                  'id': data[i]._id,
                  'name': 'Cuenta ' +  data[i].iban,
                  'primaryAmount': {
                    'amount': data[i].balance,
                    'currency': data[i].currency,
                    'label': 'Disponible'
                  },
                  'scale': 0,
                  'status': {
                    'id': 'ACTIVATED',
                    'description': 'ACTIVATED'
                  }
                };
                console.log('newAccount');
                console.log(newAccount);
                this.accounts.push(newAccount);
              }
            }
            var balanceTot = {
              'amount': totalBalance,
              'currency': 'EUR',
              'scale': 0
            };
            this.balance = balanceTot;
            console.log('TOTAL BALANCE:');
            console.log(this.balance);
          }
        }

        onRequestError(err) {
          console.log('Request KO en dashboard!!');
          console.log(err);
          this.messageError = err.mensaje;
        }

      }
      customElements.define(DashboardPage.is, DashboardPage);
    }
  </script>
</dom-module>
